@import 'base/variables';
@import 'layout/layout';
@import 'components/place-card';

body {
  background-color: $color-bg;
  font-family: $font-main;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}